on init
    chown system system /sys/class/leds/nubia_led/brightness
    chown system system /sys/class/leds/nubia_led/fade_parameter
    chown system system /sys/class/leds/nubia_led/grade_parameter
    chown system system /sys/class/leds/nubia_led/outn
    chown system system /sys/class/leds/nubia_led/blink_mode
    chown system system /sys/class/leds/nubia_led/debug

    chmod 660 /sys/class/leds/nubia_led/brightness
    chmod 660 /sys/class/leds/nubia_led/fade_parameter
    chmod 660 /sys/class/leds/nubia_led/grade_parameter
    chmod 660 /sys/class/leds/nubia_led/outn
    chmod 660 /sys/class/leds/nubia_led/debug

service light-hal-2-0 /vendor/bin/hw/android.hardware.light@2.0-service.nx595j
    class hal
    user system
    group system
    shutdown critical
